html, body{
	margin-left:15px; margin-right:15px; 
	padding:0px; 
}
.add-button {
	font-weight: bold;
	width: 130px;
	padding: 5px 10px;
	margin-top: 30px;
	background: #cccccc;
}
.demo-table{
	border-collapse: collapse;
	border-bottom: 1px solid grey;
	
	width: 72%;
}
.demo-table-header{
	border-bottom: 1px solid grey;
	background: none repeat scroll 0 0 #20B2AA;
	padding: 10px;
	color: #FFFFFF;
	text-align: left;
}
demo-table-odd-row{
	border-top: 1px solid grey;
	background: none repeat scroll 0 0 #FFFFFF;
	text-align: center;
}
demo-table-even-row{
	border-top: 1px solid grey;
	background: none repeat scroll 0 0 #D0D0D0;
	text-align: center;
}
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 70%; background: #20B2AA; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container #content {margin-top: 20px;}




